.aboutsectiondiv{
    text-align: center;
    margin:0% 6%;
}
.abouthead{
  color:lightgray;
}
.aboutdiv{
  display:flex;
  justify-content: center;
  height:80vh;
  overflow:hidden;
  align-items:center;
}
.aboutimgdiv{
  width:100%;
  height:80vh;
  display: flex;
  overflow:hidden;
  justify-content: center;
  align-items: center;
}
.aboutimgdiv img{
  border-radius: 10px;
  height:100%;
  background-color:whitesmoke;
}
.aboutcontentdiv{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:80vh;
  overflow:hidden;
  width:100%;
}
.aboutcontentdiv #introcontents,
.aboutcontentdiv #educationcontents{
  display:flex;
  justify-content:center;
  gap:10px;
  height:100%;
  text-align: left;
  width:100%;
  flex-direction: column;
}
.aboutcontentdiv #educationcontents{
  gap:0px;
  justify-content:space-evenly;
  overflow-y: scroll;
}
#educationcontents .educations p:nth-child(2){
  color:black;
  font-weight:bold;
}
#educationcontents .educations p:nth-child(3){
  background:whitesmoke;
  text-align:center;
  width:30%;
  font-size:small;
  border-radius:5px;
}
.aboutcontentdiv #educationcontents::-webkit-scrollbar {
  width: 3px;
}

.aboutcontentdiv #educationcontents::-webkit-scrollbar-track {
  border-radius:10px;
}

.aboutcontentdiv #educationcontents::-webkit-scrollbar-thumb {
  background:lightgray;
  border-radius:10px;
}
.aboutoptiondiv{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
}
.aboutoptiondiv button{
  width:100%;
  color:black;
  padding:2%;
  background:white;
}
.switchbtn{
  background:whitesmoke !important;
  border-radius:8px;
  font-weight:bold;
}
.aboutcontentdiv h1{
  line-height: 0%;
}
.aboutcontentdiv h1 span,.aboutcontentdiv h3 span{
  background:linear-gradient(135deg,blueviolet,violet);
  background-clip:text;
  color:transparent;
}
.aboutcontentdiv p{
  color:dimgray;
}
.aboutcontentdiv .hirebtn{
    font-size:15px;
    padding:3%;
    width:30%;
    text-align:center;
    text-decoration:none;
    border-radius:8px;
    background:linear-gradient(135deg,blueviolet,violet);
    box-shadow:0px 0px 1px rgba(0,0,0,0.9);
    color:white;
}
@media(max-width:1000px){
  .aboutsectiondiv{
    margin:0% 3%;
  }
}
@media(max-width:900px){
  .aboutimgdiv img{
    block-size:400px;
  }
}
@media(max-width:750px){
  .aboutdiv{
    flex-direction:column;
    overflow-y:scroll;
    height:100%;
    gap:10px;
    padding-bottom:30%;
  }
  .aboutsectiondiv{
    margin:0% 6%;
  }
  .aboutimgdiv{
    width:100%;
    height:100%;
  }
  .aboutimgdiv img{
    width:95%;
    block-size:auto;
  }
  .aboutoptiondiv{
    margin-top:6%;
  }
  .aboutcontentdiv{
    height:50vh;
  }
  .aboutcontentdiv .hirebtn{
    font-size:20px;
  }
  .aboutcontentdiv h1{
    font-size:xx-large;
  }
}
@media(max-width:500px){
  .aboutcontentdiv .hirebtn{
    width:50%;
  }
}
@media(max-width:400px){
  .aboutdiv{
    padding-bottom:40%;
  }
}