.skillsectiondiv{
    text-align: center;
    margin:0% 6%;
}
.skillhead{
  color:lightgray;
}
.skillsetdiv{
  width:100%;
  overflow-y:hidden;
  height:80vh;
}
.skillsetoptionsdiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.skillsetoptionsdiv button{
  width:100%;
  color:black;
  padding:1%;
  background:white;
}
.skillswitch{
  background:whitesmoke !important;
  border-radius:8px;
  font-weight:bold;
}
.skillexpcerdiv{
  overflow-y:scroll;
  height:73vh;
}
.skillexpcerdiv::-webkit-scrollbar {
  width: 5px;
}

.skillexpcerdiv::-webkit-scrollbar-track {
  border-radius:10px;
}

.skillexpcerdiv::-webkit-scrollbar-thumb {
  background:darkgray;
  border-radius:10px;
}
.skillexpcerdiv #skilldiv{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  height:100vh;
  margin:4% 0%;
  gap:15px;
}
.skillexpcerdiv #skilldiv .skillss{
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  border-radius:10px;
}
.skillss .i{
  font-size:50px;
}
.skillss h1 span{
  font-size:small;
}
.skillss hr{
  position:absolute;
  left:0;
  bottom:-5%;
  border:4px solid;
  width:100%;
}
.skillss .hr-htmlbar{
  border-image:linear-gradient(135deg,blueviolet,violet) 1;
  width:90%;
}
.skillss .hr-cssbar{
  border-image:linear-gradient(135deg,blueviolet,violet) 1;
  width:80%;
}
.skillss .hr-jsbar{
  border-image:linear-gradient(135deg,blueviolet,violet) 1;
  width:65%;
}
.skillss .hr-reactbar{
  border-image:linear-gradient(135deg,blueviolet,violet) 1;
  width:65%;
}
.skillss .hr-gimpbar{
  border-image:linear-gradient(135deg,blueviolet,violet) 1;
  width:75%;
}
.skillss .hr-pythonbar{
  border-image:linear-gradient(135deg,blueviolet,violet) 1;
  width:70%;
}
.skillss .hr-cbar{
  border-image:linear-gradient(135deg,blueviolet,violet) 1;
  width:70%;
}
.skillss .hr-javabar{
  border-image:linear-gradient(135deg,blueviolet,violet) 1;
  width:60%;
}