.skillsectiondiv{
    text-align: center;
    margin:0% 6%;
}
.skillhead{
  color:lightgray;
}
.skillsetdiv{
  width:100%;
  overflow-y:hidden;
  height:80vh;
}
.skillsetoptionsdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom:2%;
}
.skillsetoptionsdiv button{
  width:100%;
  color:black;
  padding:1%;
  background:white;
}
.skillswitch{
  background:whitesmoke !important;
  border-radius:8px;
  font-weight:bold;
}
.skillexpcerdiv{
  overflow-y:scroll;
  height:73vh;
}
.skillexpcerdiv::-webkit-scrollbar {
  width: 3px;
}

.skillexpcerdiv::-webkit-scrollbar-track {
  border-radius:10px;
}

.skillexpcerdiv::-webkit-scrollbar-thumb {
  background:lightgray;
  border-radius:10px;
}
.skillexpcerdiv #skilldiv{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  height:100vh;
  margin:3% 0.5%;
  gap:15px;
}
.skillexpcerdiv #skilldiv .skillss{
  position:relative;
  display: flex;
  justify-content:center;
  align-items: center;
  overflow:hidden;
  border-radius:10px;
  background:linear-gradient(135deg,white,whitesmoke);
}
.skillss .i{
  font-size:50px;
}
.circle{
  right:4%;
  bottom:6%;
  position:absolute;
  width:40px;
  height:40px;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner{
  width:30px;
  height:30px;
  border-radius:50%;
  font-weight:bold;
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner p{
  font-size:small;
}

#experiencediv{
  display:flex;
  justify-content:center;
  flex-direction:column;
  width:100%;
  height:100vh;
}
#experiencediv .srisclickdiv{
  width:100%;
  display:flex;
  justify-content:left;
  align-items:center;
}
.srisclickdiv div{
  padding:5%;
}
.srisclickimgdiv{
  background:linear-gradient(135deg,white,whitesmoke);
  border-radius:10px;
  display:flex;
  justify-content:center ;
  align-items: center;
  overflow:hidden;
}
.srisclickcontentdiv{
  display:flex;
  flex-direction:column;
  text-align:left;
  color:gray;
}
.srisclickcontentdiv h2{
  color:black;
}
.srisclickcontentdiv p{
  margin-top:-2%;
}
.srisclickcontentdiv span{
  text-align: center;
  width:30%;
}
.srisclickcontentdiv a{
  text-decoration: none;
  font-size:20px;
}
.srisclickcontentdiv h2 span,.srisclickcontentdiv a span
{
  color:transparent;
  background:linear-gradient(135deg,blueviolet,violet);
  background-clip: text;
}
.place{
  padding:0.1% 4%;
  border-radius:5px;
  font-size:small;
  background-color:whitesmoke;
}
.visiticon{
  color:mediumorchid;
}
#certificationdiv{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  margin:3% 0.5%;
  gap:15px;
}
.certimgdiv{
  overflow:hidden;
  box-shadow:5px 5px 5px rgba(0,0,0,0.3);
  height:100%;
}
.certimgdiv img{
  width:100%;
  height:100%;
}

@media(max-width:750px){
  .skillexpcerdiv{
    height:60vh;
  }
  .skillsetoptionsdiv button{
    padding:2%;
  }
  .skillexpcerdiv::-webkit-scrollbar{
    display:none;
  }
}
@media(max-width:600px){
  .skillss{
    height:25vh;
  }
  #experiencediv .srisclickdiv{
    flex-wrap:wrap;
  }
  #experiencediv{
    justify-content:space-evenly;
  }
  .srisclickimgdiv{
    margin-top:10%;
    width:90%;
  }
}
@media(max-width:500px){
  .skillexpcerdiv{
    height:70vh;
  }
}
